/* Register Page */
/* .register-wrap {
    background-color: #00a1fe;
    max-width: 300px;
    margin: auto;
    padding: 1em;
    border-radius: 50px;
    text-align: center;
    border: solid;
} */

/* .register-field {
    margin-bottom: 10px;
}

.register-submit {
    padding: 10px;
}

.user-label {
    width: 80px;
    display: inline-block;
    text-align: left;
} */