/* Login Page */
.login-wrap {
  background-color: #00a1fe;
  max-width: 300px;
  margin: auto;
  padding: 1em;
  border-radius: 50px;
  text-align: center;
  border: solid;
}

.login-field {
  margin-bottom: 10px;
}

.login-submit {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.login-new-user:link {
  text-decoration: none;
}

.login-new-user:visited {
  text-decoration: none;
}

.login-new-user:hover {
  /* color: #ffffff; */
  text-decoration: none;
}

.login-new-user:active {
  /* color: #000000; */
  text-decoration: none;
}
