.App {
  text-align: center;
  font-family: 'Source Code Pro', 'Palanquin';
}

/* Text */
.title {
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-size: xx-large;
}

.subtitle {
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-size: medium;
}

.body {
  font-family: 'Palanquin';
  font-weight: 300;
  font-size: medium;
}

.footer {
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-size: small;
}


.map-container {
  display: flex;
  width: 100%;
}

.slider-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-container > a {
  margin: 0 auto;
  margin-top: 4rem;
}

.chakra-slider__thumb.css-1beztny {
  background-color: rgb(176, 171, 171);
}

.chakra-slider__thumb.css-yy5vui {
  background-color: rgb(176, 171, 171);
}

.pg-bar {
  max-width: 1000px;
  margin-bottom: 2rem;

}

.pg-bar-text {
  font-family: 'Palanquin';
  font-weight: 300;
  font-size: medium;
  color: #300243;
}

.container-home {
  max-width: 1000px;
}

.hero-text {
  max-width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

.form-title {
  margin-bottom: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
}