.App {
  text-align: center;
  font-family: 'Source Code Pro', 'Palanquin';
}

[data-theme='light'] #root {
  background-color: #ffffff !important;
}

[data-theme='dark'] #root {
  background-color: #191719 !important;
}

/* Text */
.title {
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-size: xx-large;
}

.subtitle {
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-size: medium;
}

.description {
  font-family: 'Palanquin';
  font-weight: 400;
  font-size: large;
  max-width: 1200px;
  margin: 0 auto;
}

.costs {
  font-family: 'Palanquin';
  font-weight: 500;
  font-size: large;
}

.steps {
  font-family: 'Palanquin';
  font-weight: 600;
  font-size: large;
}

.fields {
  font-family: 'Palanquin';
  font-weight: 400;
  font-size: medium;
}

.footer {
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-size: small;
  height: 25vh;
  margin-top: 10rem;
}


/* Footer */
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer-content > div {
  font-weight: bold;
  text-align: center;
}

/* NavBar */
.nav-container {
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav {
  position: static;
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
}

.nav .nav-content {
  max-width: 1000px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

/* Other */
.not-found {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  height: 50vh;
}

.not-found > p {
  padding-top: 10rem;
}

.switch-item {
  margin-right: 2rem;
}

/* NavBar mobile styles */
@media only screen and (max-width: 690px) {
  .switch-item {
    margin-right: 10px;
  }

  .results-table > * {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 780px) {
  .css-1hrqswa {
    margin: 0 !important;
  }
}
